@font-face {
  font-family: 'Calibri';
  src: url(../../../Fonts/calibri.ttf);
}
*{
  font-family: 'Calibri';
  font-size: 20px;
}
.bi {
  display: inline-block;
  width: 20px;
  height: 20px;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link {
  color: #1e1e1f;
}

.sidebar .nav-link:hover {
  background-color:blueviolet;
  color: antiquewhite;
}

.sidebar-heading {
  font-size: .75rem;
}

.offcanvas-body{
  height:700px;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
